.heading {
  background-color: #555;
  color: white;
}
.btn button.webix_button {
  background-color: #555;
  color: white;
}
.btn .webix_icon_btn {
  color: white;
}

.btn button.webix_button:hover {
  background-color: rgb(29, 29, 29);
}
.btn button.webix_button:active {
  background-color: rgb(29, 29, 29);
}
.btn button.webix_button:focus {
  background-color: #555;
}

.mdi:before,
.mdi-set {
  color: white;
}
.list_item .webix_list_item {
  border: transparent;
}
.side .webix_view {
  background-color: #d6cece;
}
.bottom_side {
  color: green;
  text-align: center;
}
.footer {
  text-align: center;
}

.add_btn button.webix_button {
  background-color: #1ca1c1;
  color: white;
}
.add_btn button.webix_button:hover {
  background-color: #115f72;
}
.add_btn button.webix_button:active {
  background-color: #115f72;
}
.add_btn button.webix_button:focus {
  background-color: #1ca1c1;
}
.myhover.webix_cell{
  background: orange;
}
.rank .webix_cell{
  background-color: #F4F5F9;
  border-bottom: transparent;
}
.wxi-close{
  float: right;
}
.young{
  background-color: #ede398;
}
.tab .webix_segment_1, .tab .webix_segment_0, .tab .webix_segment_N{
  background-color: white;
}
.tab .webix_selected{
  background-color:#1ca1c1 ;
  color: white;
}